body{
    background-color: #A2B8AB;
    font-family: Jost;
}

h1{
    color: #612D3A;
    font-weight: 500;
    font-size: 60px;
    position: absolute;
    top: 3%;
    left:32%;
}

h2{
    font-family: Jost;
    font-weight: 500;
    font-size: 40px;
    color: #612D3A;
    position: absolute;
    top: 60%;
    left:34%;
}

#songs{
    font-size: 20px;
    font-family: Jost;
    color:#6C4A4A;
    position: absolute;
    left:10%;
    bottom:10%;
    display: flex;
    padding-left: 200px;
    padding-right: 300px;
}

#timestamp{
    position: absolute;
    top: 20%;
    left:30%;
}