body{
    background-color: #EBDCB3;
}

h1{
    font-family:Londrina Solid;
    font-weight: 300;
    font-size: 80px;
    letter-spacing: 12px;
    position: absolute;
    left: 3%;
    bottom: 70%;
    color:#1E1E1E;
}

#note{
    position: absolute;
    left: 44.5%;
    bottom: -1%;
}

#bust1{
    position: absolute;
    left: 54.5%;
    bottom: 20%;
}

#bust2{
    position: absolute;
    left: 67%;
    bottom: 45%;
}

#bust3{
    position: absolute;
    left: 76%;
    bottom: 20%;
}

#face1{
    position: absolute;
    left: 1%;
    bottom: 20%;
}

#face2{
    position: absolute;
    left: 11.5%;
    bottom: 21.5%;
}

#face3{
    position: absolute;
    left: 24%;
    bottom: 23%;
}

.draggable {
    width: 25%;
    min-height: 6.5em;
    margin: -4px;
    touch-action: none;
    user-select: none;
}

p{
    font-family:Londrina Solid;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 8px;
    position: absolute;
    left: 7%;
    bottom: 50%;
    color:#1E1E1E;
}

.bi-arrow-90deg-right{
    transform:rotate(90deg);
    position: absolute;
    left: 28%;
    bottom: 50%;
}

footer{
    display: flex;
    flex-direction: column;
    font-family:Londrina Solid;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 3px;
    position: absolute;
    left: 2%;
    bottom: 2%;
}

footer a{
    text-decoration: none;
    color: #1E1E1E;
}