body{
    background-color: black;
    font-family: Handjet;
    margin: 0;
    padding: 0;
}

div{
    position:relative;
}

#circle{
    position: absolute;
    right:-3%;
    bottom:-4%;
    z-index: 1;
}

#myVideo {
    position: absolute;
    right:200px;
    bottom:6px;
    width: 1300px;
    height: 680px;
    display: block;
}

#myVideo2 {
    position: absolute;
    right:200px;
    bottom:6px;
    width: 1300px;
    height: 680px;
    display: none;
}

.fa-fish {
    position: relative;
    top: 30px;
    right: -1355px;
    font-size: 36px;
    color: whitesmoke;
    z-index: 1;
}

.fa-fish:hover {
    cursor: pointer;
}

#poem p {
    color:antiquewhite;
    position: absolute;
    font-size: 7em;
    transition: all 2.5s;
    text-align: right;
}

#line1 {
    bottom: -10%;
    left: 5%;
    z-index: 1;
}

#line2 {
    bottom: -10%;
    left: 30%;
}

#line3 {
    bottom: -10%;
    left: 71%;
}

#line4 {
    bottom: -10%;
    left: 30%;
}

#line5 {
    bottom: -10%;
    left: 25%;
}

.hidden {
    opacity: 0;
}

.showning {
    opacity: 1;
}